@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

/* build your layout */
body {
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #000;
}

.escape {
  content: url("images/escape.jpg");
  display: none;
  max-width: 100%;
  max-height: 90%;
  object-fit: contain;
  z-index: 9999;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.jumpscare {
  content: url("images/jumpscare.png");
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
  z-index: 9999;
}

@keyframes shake {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.jumpscare.shake {
  animation: shake 0.5s ease-in-out 0s 5; /* 0.5 seconds per shake, repeat 5 times */
}

.col {
  display: block;
  height: 15%;
  width: 50%;
}
.colmn {
  display: block;
  height: 100%;
  width: 50%;
}
.section {
  display: block;
  height: 10%;
  width: 100%;
}
.row {
  display: flex;
  height: 15%;
  width: 100%;
}
.row2 {
  display: flex;
  height: 75%;
  width: 100%;
}
.contain-image {
  max-height: 15%;
  max-width: 15%;
}

.none {
  display: none;
}
text {
  font-family: "Nosifer";
  font-size: 40px;
  text-align: center;
  color: #a00808;
}

textE {
  font-family: "Nosifer";
  font-size: 45px;
  text-align: center;
  color: #a00808;
}

textTime {
  margin-left: 50%;
  font-family: "Nosifer";
  font-size: 40px;
  text-align: center;
  color: #a00808;
}

.clickk:hover {
  cursor: pointer;
  filter: drop-shadow(2px 8px 3px);
  transform: scale(1.04);
}

.clickk:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.98);
}
/* control your content */
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

.contain-img {
  max-height: 75%;
  max-width: 99%;
  object-fit: cover;
}
/* colors help visually separate divs */
.light-grey {
  background-color: #a9a9a9;
}
.grey {
  background-color: #707070;
}
.black {
  background-color: black;
}
.blood {
  background-color: #2f0000;
}

.blue {
  background-color: rgb(40, 55, 119);
}

.red {
  background-color: rgb(119, 40, 53);
}

.purple {
  background-color: rgb(96, 31, 170);
}
/* Add a modal pop-up window */
/* https://en.wikipedia.org/wiki/Modal_window */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.95;
}
/* Don't cover the entire screen */

/* The Close Button */
.close {
  color: #ff0000;
  position: fixed;
  top: 0.1%;
  right: 1%;
  font-size: 180px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
